a.heading-anchor {
  color: #71717a;
  border-bottom-width: 0; /* UniversalLinkのborderを打ち消す */
}

a.heading-anchor::after {
  content: "#";
  opacity: 0;
  margin-left: 0.25em;
  transition-property: opacity;
  transition-duration: 300ms;
}

h2:hover .heading-anchor::after,
h3:hover .heading-anchor::after,
h4:hover .heading-anchor::after,
h5:hover .heading-anchor::after,
h6:hover .heading-anchor::after {
  opacity: 1;
}
