@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :is(.dark .dark\:prose-invert) {
    --mysite-code-bg: var(--mysite-invert-code-bg);
  }

  :root {
    --white: 255 255 255;
    --zinc-900: 24 24 27;
    --zinc-800: 39 39 42;
    --zinc-700: 63 63 70;
    --zinc-500: 108 108 112;
    --zinc-400: 161 161 170;
    --zinc-300: 212 212 216;
    --zinc-200: 228 228 231;
    --zinc-100: 244 244 245;
    --zinc-50: 250 250 250;

    --background: var(--white);
    --foreground: var(--zinc-900);
    --foreground-sub: var(--zinc-500);

    --card: var(--white);
    --card-foreground: var(--zinc-900);

    --popover: var(--white);
    --popover-foreground: var(--zinc-900);

    --primary: var(--zinc-200);
    --primary-foreground: var(--zinc-200);

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: var(--zinc-200);
    --muted-foreground: var(--zinc-500);

    --accent: var(--zinc-100);
    --accent-foreground: var(--zinc-900);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--zinc-200);

    --border: var(--zinc-300);
    --input: var(--zinc-300);
    --ring: var(--zinc-500);
  }

  .dark {
    --background: var(--zinc-900);
    --foreground: var(--zinc-200);
    --foreground-sub: var(--zinc-400);

    --card: var(--zinc-900);
    --card-foreground: var(--zinc-200);

    --popover: var(--zinc-900);
    --popover-foreground: var(--zinc-200);

    --primary: var(--zinc-200);
    --primary-foreground: var(--zinc-200);

    --secondary: var(--zinc-700);
    --secondary-foreground: var(--zinc-200);

    --muted: var(--zinc-700);
    --muted-foreground: var(--zinc-400);

    --accent: var(--zinc-800);
    --accent-foreground: var(--zinc-200);

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--zinc-200);

    --border: var(--zinc-700);
    --input: var(--zinc-700);
    --ring: var(--zinc-400);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
