a.heading-anchor {
  color: #71717a;
  border-bottom-width: 0; /* UniversalLinkのborderを打ち消す */
}

.heading-anchor-text {
  opacity: 0;
  margin-left: 0.25em;
  transition-property: opacity;
  transition-duration: 300ms;
}

h2:hover .heading-anchor-text,
h3:hover .heading-anchor-text,
h4:hover .heading-anchor-text,
h5:hover .heading-anchor-text,
h6:hover .heading-anchor-text {
  opacity: 1;
}
