name: ci-e2e

on:
  deployment_status:

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}

jobs:
  setup-job:
    if: github.event.deployment_status.state == 'success'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      BASE_REF_BRANCH: ${{ steps.branch-name.outputs.BASE_REF_BRANCH }}
    steps:
      - id: branch-name
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          BASE_REF_BRANCH=$(gh api -H "Accept: application/vnd.github+json" /repos/${{ github.repository_owner }}/${{ github.event.repository.name }}/commits/${{ github.sha }}/branches-where-head | jq -r '.[].name')
          echo "BASE_REF_BRANCH=$BASE_REF_BRANCH" >> $GITHUB_OUTPUT

  e2e:
    if: github.event.deployment_status.state == 'success'
    needs: setup-job
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble@sha256:3bed4b1a12f2338642f3d8cba28e291deef3c66bd4a964bbeb3e57bbff511dbd

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: MH4GF/shared-config/.github/composite-actions/setup-pnpm@main
      - run: pnpm test:playwright
        env:
          BASE_URL: ${{ github.event.deployment_status.environment_url }}
      - uses: lost-pixel/lost-pixel@41055d71dea42eb5fa5c27dabd2a90722f376e33 # v3.22.0
        env:
          LOST_PIXEL_API_KEY: ${{ secrets.LOST_PIXEL_API_KEY }}
          COMMIT_REF_NAME: ${{ needs.setup-job.outputs.BASE_REF_BRANCH }}
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: failure()
        with:
          name: test-results
          path: test-results/
