name: ci

on:
  pull_request:
    branches:
      - main

jobs:
  depcruise:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: MH4GF/dependency-cruiser-report-action@885013e37581e3472385ffa93c821b3505336bc1 # v2.5.3
        with:
          package-manager: pnpm
